<div class='nemesis'>

<br><br>
<h4><%= current_user.username%>'s nemesis</h4>
 <table class="table table-hover table-dark">
  <thead>
    <th> Opponent </th>
    <th> Games Played Against </th>
    <th> Games Won Against </th>
    <th> Percentage Won Against </th>
  </thead>
  
    <% current_user.nemesis_ordered.each do |user| %> 
  <tbody>
    <td> <%= user.username %></td>
    <td> <%= current_user.games_played_against(user)%></td>
    <td> <%= current_user.games_won_against(user) %> </td>
    <td> <%= current_user.percentage_won_against(user) %>% </td>
  </tbody>
    <% end %>
</table>

</div>