<h1>Welcome <%= current_user.username %></h1>


<h3>Start a new game:</h3>
<%= link_to 'Create Game', new_game_path %>



 <%# Analytics Here! %>
<br><br>
 <table> <h4>Top Winners</h4>
  <tr>
    <td> Username </td>
    <td> Games Played </td>
    <td> Games Won </td>
  </tr>
  
    <% User.all.each do |user| %> 
  <tr>
    <td> <%= user.username %></td>
    <td> <%= Game.all.select{|game| game.winner == user.id || game.loser == user.id}.count %></td>
    <td> <%= Game.all.select{|game| game.winner == user.id}.count %> </td>
  </tr>
    <% end %>
</table>

 <table> <h4>Top Losers</h4>
  <tr>
    <td> Username </td>
    <td> Games Played </td>
    <td> Games Lost </td>
  </tr>
  
    <% User.all.each do |user| %> 
  <tr>
    <td> <%= user.username %></td>
    <td> <%= Game.all.select{|game| game.winner == user.id || game.loser == user.id}.count %></td>
    <td> <%= Game.all.select{|game| game.loser == user.id}.count %> </td>
  </tr>
    <% end %>
</table>