<%= form_for(@game) do |f| %>
    <%= f.label :game, class: "choose-game-heading" %> <br>
    <p>1 Player: <%= f.radio_button :game_type, "1 Player", checked: true %></p>
    <p>2 Players: <%= f.radio_button :game_type, "2 Players" %></p>
    <%= f.submit "New Game", class: "btn btn-success"%><br>
    <%= link_to 'Back', root_path, class:'btn btn-light' %>
<% end %>
