<%= render 'cards/display_cards' %>

<div class="questions_container">
    <%= form_tag board_path(@board), method: :patch do %>
        <%= label_tag :attribute_type %>
        <select name="question[attribute_type]" id="question_attribute_type">
            <% @questions_attributes.each do |type| %>
              <option value="<%= type %>"><%= type %></option>
            <% end %>
        </select>

        <select name="question[attribute_value]">
            <% @questions_name_values.each do |value| %>
              <option value="<%= value %>" class="question_names"><%= value %></option>
            <% end %>
            <% @questions_hair_type_values.each do |value| %>
              <option value="<%= value %>" class="question_hair_types" style="display:none;"><%= value %></option>
            <% end %>
            <% @questions_hair_color_values.each do |value| %>
              <option value="<%= value %>" class="question_hair_colors" style="display:none;"><%= value %></option>
            <% end %>
            <% @questions_glasses_values.each do |value| %>
              <option value="<%= value %>" class="question_glasses" style="display:none;"><%= value %></option>
            <% end %>
            <% @questions_hat_values.each do |value| %>
              <option value="<%= value %>" class="question_hats" style="display:none;"><%= value %></option>
            <% end %>
            <% @questions_gender_values.each do |value| %>
              <option value="<%= value %>" class="question_genders" style="display:none;"><%= value %></option>
            <% end %>
            <% @questions_eye_color_values.each do |value| %>
              <option value="<%= value %>" class="question_eye_colors" style="display:none;"><%= value %></option>
            <% end %>
            <% @questions_facial_hair_values.each do |value| %>
              <option value="<%= value %>" class="question_facial_hairs" style="display:none;"><%= value %></option>
            <% end %>
        </select>

        <%= submit_tag "Submit Question" %>
    <% end %>
</div>