<div class="select-user-form">
<%= form_for(@player) do |f| %>
    <%= label_tag :user, "Choose Your Opponent", class: 'choose-player-heading' %> <br>
    <%= f.label :username %>
    <%= f.text_field :username, list: 'usernames', class: "form-control-plaintext"%> <br>
    <datalist id="usernames">
        <% @users.each do |user| %>
            <option value="<%= user.username %>"></option>
        <% end %>
    </datalist>
    <%= f.label :password %><br>
    <%= f.password_field :password , class: "form-control-plaintext" %><br>
    <%= f.submit "Add Player", class: "btn btn-success" %>
<% end %>
</div>
<br><br>
  

<%= render 'users/nemesis' %>
