<!DOCTYPE html>
<html>
  <head>
    <title>Huyu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav id='navbar' class="navbar navbar-expand-lg navbar-dark bg-primary no-pad">
    <%= image_tag 'huyu_logo.png', alt: "Logo" %>
    <%= link_to "Home", root_path, class: "navbar-brand home-link" %>
    <% if session[:user_id] %>
      <%= link_to "Logout", '/logout', method: :delete, class: "navbar-brand"%>   
    <% end %>
    
  </nav>
  
  
  <% if flash[:notice] %>
    <h4><%= flash[:notice] %></h4>   
  <% end %>

  <% if flash[:errors] %>
    <ul class='errors'>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %> 
    </ul>  
  <% end %>
    <%= yield %>
  </body>
</html>
